<div class="form-container">
  <div class="form-header">Create New Post</div>
  <div class="form-content">
    <form class="form add-blog-form">
      <div class="form-group">
        <label for="blog-title">Title:</label>
        <input class="form-input" type="text" id="blog-title" />
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label>
        <textarea class="form-input" type="text" id="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Post</button>
        <a class="btn btn-warning" href="/dashboard">Cancel</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/newblog.js"></script>